__pycache__
TODO.png
README.png
weights/
**/error.pdf
**/error.png
**/prediction.pdf
**/prediction.png
**/uT.pdf
**/uT.png
**/input.pdf
**/input.png
**/branch.pdf
**/branch.png
**/tmp.*
**/test.*
equations/video/